<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>filter</filter-name>
        <filter-class>com.infoshare.lumato.filters.RestrictPageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/start.xhtml</url-pattern>
    </filter-mapping>

</web-app>

